<form action="/newuser" method="POST">
    <input type="text" name="name"></input>
    <input type="text" name="email"></input>
    <input type="submit"></input>
  </form>
  
  {% for user in users %}
    <h1> {{ user.name }} </h1>
    <p> {{ user.email }} <p>
  {% endfor %}